/*<W_Comment>----------={  Construction progressbar animation  }=----------</W_Comment> */
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}
.animate-progressbar {
  animation: progress 3s ease-in-out forwards;
  animation-delay: 1s;
}

/*<W_Comment>----------={  Logo spinning animations  }=----------</W_Comment> */
@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 20s linear infinite;
}

/*<W_Comment>----------={  Banner floating elements  }=----------</W_Comment> */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes float-delay {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float-delay {
  animation: float-delay 5s ease-in-out infinite;
  animation-delay: 0.5s;
}
