/*<W_Comment>----------={  Construction progressbar animation  }=----------</W_Comment> */
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}
.animate-progressbar {
  animation: progress 3s ease-in-out forwards;
  animation-delay: 1s;
}

/*<W_Comment>----------={  Logo spinning animations  }=----------</W_Comment> */
@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 20s linear infinite;
}
